/* Styles for the student dashboard */
body {
    font-family: Arial, sans-serif;
}

h2 {
    margin-top: 20px;
}

#attendanceTrackerStudent {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#studentAttendance {
    border: 1px solid #ccc;
    padding: 10px;
}
